@charset "utf-8";

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,span,p{
    color: #333;
    text-decoration: none;
    font-family: 'S-CoreDream-3Light';
}
li{
    list-style: none;
}
img{
    display: block;
}
.clearfix::after, .clearfix::before{
    content: "";
    display: block;
    clear: both;
}
body{
    background-color: #fff;
}
